:host {
  display: block;
}
  
::ng-deep html,
::ng-deep body {
  overflow-y: scroll !important;
}
  
::ng-deep body {
  background-color: #141414 !important;
}

#home {
  margin-top: 80px; /* 헤더 높이만큼 여백 추가 */
  padding: 20px;
  box-sizing: border-box; /* 패딩 포함 높이를 정확히 계산 */
}